<div class="bg-gray-200 shadow-lg">
    <ul class="flex justify-around py-4 font-bold ">
        <li class="hover:text-gray-400"><a href="/">Home</a></li>
        <li class="hover:text-gray-400"><a href="/api/staffs">Staff List</a></li>
        <li class="hover:text-gray-400"><a href="/api/students">Student List</a></li>
        <li class="hover:text-gray-400"><a href="api/admin">School Administrators</a></li>
        <div class='rounded-lg'><input class="bg-gray-100" type="text rounded-full overflow-hidden focus:border-gray-300">
            <i class="fa fa-search w-3 shadow-lg" aria-hidden="true"></i></div>
    </ul>
</div>