<!DOCTYPE html>
<html lang="en">
<head>
  <%-include('./partials/head') %>
</head>
<body class=" h-screen">
  <div class="header">
    <%- include('./partials/header') %>
    <%- include('./partials/navigation') %> 
  </div> 
  <div class="h-2/3">
    <h1></h1>

  </div>

   <%- include('./partials/footer') %>  
</body>
</html>